@import "tailwindcss";

@theme {
  /* Colors */
  --color-sva-green: #008000; /* Primary Green */
  --color-sva-dark: #1F1F1F; /* Header/Footer/Text Dark */
  --color-sva-light: #F5F5F5; /* Light Backgrounds */
  
  /* Typography */
  --font-sans: var(--font-roboto), sans-serif;

  /* Shapes */
  --radius-sm: 0.25rem; /* 4px */
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to sure everything still looks
  correct as you migrate.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }

  body {
    background-color: var(--color-sva-light);
    color: var(--color-sva-dark);
  }
}
